<div class="center jumbotron">

    <h1>Hot and Fresh Quotes</h1>


    <h3>
      This is an app where you can compare quotes
      to make the best investing decisions. Make lots of money.
    </h3>

  <p>
    <% if logged_in? %>
      <p align='center' id="welcome">Welcome, <%= current_user.first_name %></p>
    <% else %>
      <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </p>

</div><br>


<div class="quick-list">
 <form action="/user_picks" method="POST">
   <label for="stock">Symbols:</label>
   <input type="text" name="stock">
   <input name="authenticity_token" type="hidden"
      value="x37DrAAwyIIb7s+w2+AdoCR8cAJIpQhIetKRrPgG5VA=">
   <input type="submit" value="Submit">
 </form>
</div>


<h3><%= current_user.first_name %>'s picks:</h3>
<div class="user_picks-box">
 <ul>
      <% @user_picks.each do |quote|  %>
      <li>
        <p><%= quote["1. symbol"] %></p> Last:
        <%= quote["2. price"] %>
      </li>
    <% end %>
 </ul>
</div>




<h3>Bossman's picks:</h3>
<div class="master-picks-box">
 <ul>
      <% @quotes.each do |quote|  %>
      <li>
        <p><%= quote["1. symbol"] %></p> Last:
        <%= quote["2. price"] %>
      </li>
    <% end %>
 </ul>
</div>