
<h1 align='center'><%= @stock.symbol %> Profile Page</h1>


<div class="historical-quotes-box">
  <ul>
  <% @stock.historical_quotes.first(5).each do |quote|%>
    <li>
      <p><%=  pretty_date(quote.date)  %></p> Close:
      <%= quote.close %><br> Open:
      <%= quote.open %><br> High:
      <%= quote.high %><br> Low:
      <%= quote.low %><br> Volume:
      <%= quote.volume %>
    </li>
    <% end %>
  </ul>
</div>