
<h1 align='center'><%= @stock.symbol %> Profile Page</h1>


<div class="historical-quotes-box">
  <ul>
  <% @stock.historical_quotes.first(3).each do |quote|%>
    <li>
      <p><%=  pretty_date(quote.date)  %></p> Close:
      <%=  quote.close %> Open:
      <%= quote.open %> High:
      <%= quote.high %> Low:
      <%= quote.low %> Volume:
      <%= quote.volume %>
    </li>
    <% end %>
  </ul>
</div>